* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  min-width: 300px;
  color: #394856;
  background-color: white;
}

/* NAVIGATION */

nav {
  position: fixed;
  width: 100vw;
  min-width: 300px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.4);
}

#mainNav {
  height: 60px;
}

#mainNav>* {
  display: inline-block;
  line-height: 40px;
  z-index: 1
}

#logo {
  position: relative;
  left: 25px;
  /* width: 170px; */
  top: 10px;
  font-weight: 500;
}

#mainNav #btn {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

#navLinks li {
  background-color: #9DADBC;
  background-color: #8F9EA6;
  color: white;
  line-height: 50px;
  list-style: none;
  width: 100%;
  font-size: 20px;
}

#navLinks {
  width: 100%;
  text-align: center;
  background-color: #9DADBC;
  background-color: #8F9EA6;
}

.navVisible {
  display: inline-block;
}

#logo a:link {
  color: #EC8180;
  text-decoration: none;
}

#logo a:visited {
  color: #EC8180;
  text-decoration: none;
}

#logo a:hover {
  color: #EC8180;
  text-decoration: none;
}

#logo a:active {
  color: #EC8180;
  text-decoration: none;
}

#navLinks a:link {
  color: white;
  text-decoration: none;
}

#navLinks a:visited {
  color: white;
  text-decoration: none;
}

#navLinks a:hover {
  color: white;
  text-decoration: none;
}

#navLinks a:active {
  color: white;
  text-decoration: none;
}

#navLinks li:hover {
  background-color: #394856;
  background-color: #EC8180;
  transition: background-color 400ms;
}

#navLinks li:active {}

/* PAGES */

.pages {
  padding: 25px;
}

/* HOME */

#home {
  font-weight: 400;
  min-height: 100vh;
  padding-top: 75px;
  text-align: center;
}

#homeArrow {
  position: absolute;
  bottom: 10px;
  display: block;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
  /* color: #9DADBC; */
  font-size: 1.1em;
  animation: homeArrow 2000ms ease-in-out infinite;
}

@keyframes homeArrow {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 10px;
  }
}

#profilePic {
  width: 90%;
  height: 90%;
  max-width: 350px;
  max-height: 350px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  margin-top: 6vh;
}

#introText {
  margin-top: 5vh;
}

#introText p {
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 28px;
}

/* PROJECTS */

#projects {
  text-align: center;
  background-color: #B4D9F8;
  background-color: #A7CBFD;
  /* background-color: #355482; */
  background-color: #8F9EA6;
}

.portfolioCard {
  width: 100%;
  max-width: 640px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
  opacity: 1;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}

.portfolioCard img {
  max-width: 100%;
  height: auto;
  border-radius: 4px 4px 0px 0px;
  position: relative;
  vertical-align: middle;
}

/* .portfolioCard:hover img{
  opacity: 0.1;
  transform: scale(1.1);
  transition: transform 400ms ease;
} */

/* .portfolioCard:hover .cardBack{
  opacity: 1;
  transition: opacity 500ms ease;
} */

.cardBack {
  background-color: white;
  opacity: 1;
  width: 100%;
  /* height: 100px; */
  position: relative;
  top: 0%;
  left: 0%;
  /* border: 1px solid red; */
}

.cardText {
  font-size: 20px;
  height: 25px;
  margin: 15px 0 10px;
  /* top: 25%; */
  /* border: 1px solid green; */
  /* position: relative; */
}

.cardBtn {
  height: 40px;
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  border-radius: 40px;
  color: white;
  background-color: #EC8180;
  border: 1px solid #EC8180;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  margin: 0px auto 15px;
}

.portfolioCard a:link {
  text-decoration: none;
}

.portfolioCard a:visited {
  text-decoration: none;
}

.portfolioCard a:hover {
  text-decoration: none;
}

.portfolioCard a:active {
  text-decoration: none;
}

.cardBtn:hover i {
  animation: leftArrow 1400ms ease-in-out infinite;
}

@keyframes leftArrow {
  0% {
    left: 0;
  }
  50% {
    left: 5px
  }
  100% {
    left: 0px;
  }
}

.cardBtn i {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(0, -54%);
}

.cardBtn p {
  display: inline-block;
  position: relative;
  line-height: 38px;
  top: 50%;
  transform: translate(0, -50%);
}

/* PORTFOLIO PAGES */

.portfolioPages {
  font-weight: 400;
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
  color: #394856;
  /* background-color: #A7CBFD; */
  /* background-color: #909EA5; */
}

.workTitle {
  font-weight: 500;
  margin-bottom: 40px;
}

.portfolioPages h4 {
  /* font-weight: 400; */
  margin: 30px auto 10px;
}

.portfolioPages li {
  /* max-width: 50px; */
  text-align: center;
  margin: auto;
  list-style: none;
  text-align: center;
  padding-bottom: 5px;
}

.portfolioPages img {
  border-radius: 4px;
  box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: auto;
}

.portfolioPages a:link {
  text-decoration: none;
  color: #394856;
}

.portfolioPages a:visited {
  text-decoration: none;
  color: #394856;
}

.portfolioPages a:hover {
  text-decoration: none;
  color: #394856;
}

.portfolioPages a:active {
  text-decoration: none;
  color: #394856;
}

.portBtn {
  height: 40px;
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  border-radius: 40px;
  line-height: 40px;
  font-size: 20px;
  color: white;
  background-color: #EC8180;
  border: 1px solid #EC8180;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.portBtn i {
  display: inline-block;
  position: relative;
  margin-left: 3px;
  top: 50%;
  transform: translate(0, -54%);
}

.portBtn:hover i {
  animation: leftArrow 1400ms ease-in-out infinite;
}

/* @keyframes leftArrowPort {
  0% {
    left: 0;
  }
  50% {
    left: 5px
  }
  100% {
    left: 0px;
  }
} */

/* CONTACT */

#contact {
  background-color: white;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}

#contact h3 {
  background-color: white;
  font-size: 20px;
  color: #394856;
  position: relative;
  padding: 20px 0;
  font-weight: 400;
}

#contactIcons {
  position: relative;
  padding: 10px 0 20px;
}

#contactIcons>* {
  display: inline-block;
}

.socialBtn {
  height: 40px;
  width: 120px;
  border-radius: 40px;
  margin: 5px;
  color: #EC8180;
  border: 1px solid #EC8180;
  background-color: white;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.socialBtn:hover {
  height: 40px;
  width: 120px;
  border-radius: 40px;
  margin: 5px;
  color: white;
  background-color: #EC8180;
  border: 1px solid #EC8180;
  font-size: 20px;
  transition: background-color 400ms, color 400ms;
}

.socialBtn p {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

#contactIcons i {
  display: inline-block;
  line-height: 100%;
  position: relative;
  top: 50%;
  font-size: 1.2em;
  transform: translate(0, -50%);
}

/* FOOTER */

footer {
  background-color: #394856;
  width: 100%;
  display: block;
  color: white;
  line-height: 3em;
  font-size: .8em;
  text-align: center;
}

@media (min-width: 1170px) {
  body {
    width: 100%;
  }
  nav, #navLinks, .pages {
    max-width: 100%;
    width: 100vw;
    margin: auto;
    padding-left: calc(50vw - 560px);
    padding-right: calc(50vw - 560px)
  }
  #logo {
    left: 0px;
  }
  #btn {
    display: none;
  }
  #navLinks {
    display: block;
    position: fixed;
    width: auto;
    top: 10px;
    line-height: 40px;
    right: 0;
    margin-right: 0px;
    background-color: inherit;
    color: inherit;
    z-index: 1001;
  }
  #navLinks li {
    display: inline;
    width: 100px;
    color: #394856;
    background-color: inherit;
    position: relative;
    line-height: inherit;
    top: 50%;
    right: 0;
    margin-left: 10px;
  }
  #navLinks a:link {
    color: #394856;
    text-decoration: none;
  }
  #navLinks a:visited {
    color: #394856;
    text-decoration: none;
  }
  #navLinks a:hover {
    color: #394856;
    text-decoration: none;
  }
  #navLinks a:active {
    color: #394856;
    text-decoration: none;
  }
  #navLinks li:hover {
    background-color: inherit;
    color: #EC8180;
  }
  #navLinks li:active {
    color: #394856;
  }
  #profilePic {
    margin-top: 10vh;
  }
  .portfolioCard {
    display: inline-block;
    max-width: 344px;
    margin: 10px;
  }
  .portfolioCard:hover img {
    opacity: 0.1;
    transform: scale(1.1);
    transition: transform 400ms ease;
  }
  .portfolioCard:hover .cardBack {
    opacity: 1;
    transition: opacity 500ms ease;
  }
  .cardBack {
    background-color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  .cardText {
    font-size: 20px;
    height: 45px;
    margin: 25% 0 10% 0;
    top: 25%;
    /* position: relative; */
  }
  .portfolioCard img {
    border-radius: 4px;
  }
  #introText p {
    font-size: 20px;
  }
